
<div class="text-center">
  <div class="row text-center">

    {{#if stages.identity.complete}}
      <div class="col-sm text-center text-success">
        <i class="fas fa-check-circle fa-3x"></i>
        <br>
        Identity
      </div>
    {{else if stages.identity.errored}}
      <div class="col-sm text-center text-danger">
        <i class="fas fa-times-circle fa-3x"></i>
        <br>
        Identity
      </div>
    {{else if stages.identity.current}}
      <div class="col-sm text-center text-primary">
        <i class="fas fa-chevron-circle-down fa-3x"></i>
        <br>
        Identity
      </div>
    {{else}}
      <div class="col-sm text-center muted-circle">
        <i class="far fa-circle fa-3x"></i>
        <br>
        Identity
      </div>
    {{/if}}

    {{#if stages.location.complete}}
      <div class="col-sm text-center text-success">
        <i class="fas fa-check-circle fa-3x"></i>
        <br>
        Location
      </div>
    {{else if stages.location.errored}}
      <div class="col-sm text-center text-danger">
        <i class="fas fa-times-circle fa-3x"></i>
        <br>
        Location
      </div>
    {{else if stages.location.current}}
      <div class="col-sm text-center text-primary">
        <i class="fas fa-chevron-circle-down fa-3x"></i>
        <br>
        Location
      </div>
    {{else}}
      <div class="col-sm text-center muted-circle">
        <i class="far fa-circle fa-3x"></i>
        <br>
        Location
      </div>
    {{/if}}

    {{#if stages.network.complete}}
      <div class="col-sm text-center text-success">
        <i class="fas fa-check-circle fa-3x"></i>
        <br>
        Network
      </div>
    {{else if stages.network.errored}}
      <div class="col-sm text-center text-danger">
        <i class="fas fa-times-circle fa-3x"></i>
        <br>
        Network
      </div>
    {{else if stages.network.current}}
      <div class="col-sm text-center text-primary">
        <i class="fas fa-chevron-circle-down fa-3x"></i>
        <br>
        Network
      </div>
    {{else}}
      <div class="col-sm text-center muted-circle">
        <i class="far fa-circle fa-3x"></i>
        <br>
        Network
      </div>
    {{/if}}

    {{#if stages.computer.complete}}
      <div class="col-sm text-center text-success">
        <i class="fas fa-check-circle fa-3x"></i>
        <br>
        Computer
      </div>
    {{else if stages.computer.errored}}
      <div class="col-sm text-center text-danger">
        <i class="fas fa-times-circle fa-3x"></i>
        <br>
        Computer
      </div>
    {{else if stages.computer.current}}
      <div class="col-sm text-center text-primary">
        <i class="fas fa-chevron-circle-down fa-3x"></i>
        <br>
        Computer
      </div>
    {{else}}
      <div class="col-sm text-center muted-circle">
        <i class="far fa-circle fa-3x"></i>
        <br>
        Computer
      </div>
    {{/if}}

    <div class="col-sm text-center muted-circle">
      <i class="far fa-circle fa-3x"></i>
      <br>
      Browser
    </div>
    <div class="col-sm text-center muted-circle">
      <i class="far fa-circle fa-3x"></i>
      <br>
      Audio
    </div>
    <div class="col-sm text-center muted-circle">
      <i class="far fa-circle fa-3x"></i>
      <br>
      Computer
    </div>
    <div class="col-sm text-center muted-circle">
      <i class="far fa-circle fa-3x"></i>
      <br>
      Submit
    </div>
  </div>
</div>